:root {
    --primary-color: #ffa20052;
    --dark-bg: #1c1c1c;
    --light-bg: #f4f4f4;
    --text-color: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: var(--light-bg);
    transition: background-color 0.3s ease-in-out;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
}

main {
    padding: 30px;
}

section {
    background: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    text-align: left;
    list-style-type: square;
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

video {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Mode sombre */
.dark-mode {
    background-color: var(--dark-bg);
    color: var(--text-color);
}

.dark-mode section {
    background: #2a2a2a;
    color: white;
}
.btn {
  display: inline-block;
  margin: 8px 0;
  padding: 6px 12px;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 3px;
  font-size: 16px;
}

.btn:hover {
  background-color: #0056b3;
}


