* {
	margin: 0;
}

.bloc {
	position: relative;
	height: 100vh;
	width : 100%;
	overflow: hidden;
}

.bloc video {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	top: 50%;
	left: 50%;
	z-index: -100;
	transform: translate(-50%, -50%);
}

#login-container {
    position: absolute;
    top: 50%; /* Ajuste selon ton croisement */
    left: 34%; /* Position approximative selon la croix */
    transform: translate(0, -50%);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* Effet de verre dépoli */
	color: white;
    border: none;
    border-radius: 10px;
    padding: 30px 18px;
	cursor : pointer ;
	margin-top : 15px;
    box-shadow: 0 4px 8px #00c8ff;
    text-align: center;
    width: 450px;
	transition: transform 0.3s ease-in-out;
}

h1 {
    margin: 0 0 20px 0;
    font-size: 24px;
    color: #00c8ff; /* Titre néon */
    text-shadow: 0 0 10px #00c8ff;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #00c8ff; /* Contour néon */
    border-radius: 5px;
    background: #001f33; /* Bleu foncé */
    color: #fff;
    box-shadow: 0 0 5px #00c8ff;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #001f33;
    background: #00c8ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    box-shadow: 0 0 10px #00c8ff;
}

button:hover {
    background: #54d2ff;
    box-shadow: 0 0 15px #54d2ff;
    color: #001f33;
}
